<section class="player" aria-label="Trình phát karaoke">
  <div class="player__screen">
    <div id="youtube-player"></div>
  </div>
  <div class="player__bar">
    <button class="icon-btn icon-btn--play" type="button" (click)="togglePlay()">
      {{ playerService.isPlaying() ? '⏸' : '▶' }}
    </button>
    <span class="time">{{ formatTime(playerService.currentTime()) }}</span>
    <input class="range" type="range" 
      [min]="0" 
      [max]="playerService.duration()" 
      [value]="playerService.currentTime()" 
      (input)="onSeek($event)">
    <span class="time">{{ formatTime(playerService.duration()) }}</span>
    <input class="range range--volume" type="range" 
      [min]="0" 
      [max]="100" 
      [value]="playerService.volume()" 
      (input)="onVolumeChange($event)">
  </div>
  <p class="player__now" *ngIf="currentSong"><span>Đang phát</span> {{ currentSong.title }}</p>
</section>
