:host { display: block; height: 100%; }

.sidebar-desktop {
  width: 100%;
  
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }
  
  @media (min-width: 768px) {
    width: 380px;
    flex-shrink: 0;
  }
}
